.background {
    background-image: url('../../../../public/images/contactBack.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 58px 0px;
    height: 100%;

    .form {
        background: white;
        border-radius: 12px;
        padding: 24px;
        width: 420px;

        .header {
            font-family: Inter;
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
            margin-bottom: 20px;
        }

        .formSection {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .inputField,
            textarea {
                border: 1px solid #E5E9EB;
                border-radius: 12px;
               
            }

            textarea {
                height: 90px;
                padding: 10px;
                font-family: Inter;
                font-size: 16px;
            }

            .button {

                width: 100%;

                button {
                    background: #32618F;
                    width: 100%;
                    border-radius: 12px;
                    &:hover{
                        color: white;
                    }
                }
            }
        }
    }
}





.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
  
    .card {
      width: 650px;
      padding: 32px;
      border: none;
  
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
  
        .cardTitle {
          font-weight: 600;
          font-size: 24px;
          line-height: 28px;
        //   color: colors.$second-color;
        }
  
       
  
        .closeIcon {
          font-size: 28px;
        }
      }
  
      .body {
        height: calc(100vh - 400px);
        overflow: auto;
        display: flex;
    flex-direction: column;
    justify-content: center;
        .icon{
            text-align: center;
        }
        .bodyText{
            font-size: 28px;
            text-align: center;
        }
      }
  
      .footer {
        display: flex;
        align-items: center;
        gap: 24px;
  
        .button {
          flex: 1;
        }
      }
    }
  }
  