@import 'styles/unit.scss';

.main {
  min-height: 80vh;
  &.active {
    min-height: 50vh;
  }
  .banner {
    height: 100vh;
    position: relative;
    .headerTitle{
      // border: 3px solid white;
      padding: 20px;
      text-align: center;
      width: 270px;
      height: 270px;
      margin: 0 auto;
      transition: all .4s linear;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
     
      z-index: 100;
      
      // &:hover{
      //   // background: #bdc3c7;  /* fallback for old browsers */
      //   // background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
      //   // background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      //   background-color: black;
      //   // border: 3px solid white;
      //   transition: all .4s linear;
      //   opacity: 0.8;
        
      //  .title{
      //    filter: invert(100%);
      //   // color: #607d8b;
      //   // background-image: -webkit-linear-gradient(0deg, #607d8b 49%, #abb2bf 80%);
      //   // background-clip: text;
      //   // -webkit-background-clip: text;
      //   // text-fill-color: transparent;
      //   // -webkit-text-fill-color: transparent;
        
      //  }
      //  .text{
      //    color: #607d8b;
      //   background-image: -webkit-linear-gradient(0deg, #607d8b 49%, #abb2bf 80%);
      //   background-clip: text;
      //   -webkit-background-clip: text;
      //   text-fill-color: transparent;
      //   -webkit-text-fill-color: transparent;
      //  }
      // }
      // .title{
      //   text-transform: uppercase;
      //   color: black;
      //   font-weight: 700;
      //   font-size: 45px;
      //   margin-top: 48px;
      //   transition: all .4s linear;
      //   img{
      //    filter: brightness(0.5);
      //   }
      // }
      // .text{
      //   // text-transform: uppercase;
      //   font-size: 20px;
      //   color: #ffffff;
      //   transition: all .4s linear;
      // }
    }
  
  }

  .img {
    width: 50%;
  }
}




.text{
  position: absolute;
  z-index: 100;
  // top: 20%;
  margin: 95px 96px;
  color: white;
  // left: 7%;
  // display: flex;
  .title{
    font-family: 'Inter';
    font-size: 64px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.4099999964237213px;
    text-align: left;
    margin-bottom: 32px;
  }
  .desc{
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    
  }
}

@media(max-width: 550px){
  .text{
    margin: 96px 20px;
    .title{
      font-size: 48px;
      line-height: 32px;
    }
    .desc{
      font-size: 28px;
    }
  }
}




.itemP {
  height: 40rem;
  span{
    height: 100% !important;
  }
  img{
  
    object-fit: cover;
  }
}
.itemP > img {
  width: 100%;
  object-fit: contain;
  // height: 40rem;
}

.caption {
  // background-color: rgba(0, 0, 0, 0.4);
  // border-radius: 15px;
}

.caption h3 {
  font-size: 35px;
  color: rgb(255, 255, 255);
}