.footer {
  width: 100%;
  // height: 200px;
  background-color: white;
  padding: 48px 0 76px 0;
  .footerInner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  .box {
    display: flex;
    align-items: center;
    gap: 90px;
    .logo {
   
      .logoName{
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        line-height: 22px;
        cursor: pointer;
      }
      svg{
        font-size: 30px;
      }
    }
    ul {
      list-style: none;
      gap: 122px;
      display: flex;
      margin-bottom: 0px;
      li{
        a{
          text-decoration: none;
          color: black;
          font-weight: 600;
        }
      }
    }
  }
  .contactNumber{
    display: flex;
    align-items: center;
    gap: 6px;
    div{
      font-weight: 600;
    }
    .addressNAme{
      font-size: 14px;
      color: gray;
    }
  }
  }

  .address{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .addressText{
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 5px;
      .phoneIcon{
        // margin-top: 5px;
        // background-color: lightgray;
        // border-radius: 50%;
        // width: 35px;
        // height: 35px;
        // display: flex;
        // align-items: center;
        justify-content: center;
      }
      .title{
        font-size: 18px;
        font-weight: 500;
      }
    }
    .map{
      width: 420px;
    }
  }
  .underFooter{
    border-top: 1px solid gray;
    margin-top: 20px;
    text-align: center;
    color: gray;
    padding: 10px 0;
    font-size: 14px;
  }
}






@media(max-width: 960px){
 .footer{
  .footerInner{
    .box{
      ul{
        gap: 40px;
      }
    }
  }
 }
}


@media(max-width: 708px){
  .footer{
   .footerInner{
     .box{
      width: 100%;
      justify-content: space-between;
      gap: 0px;
      ul{
        display: block;
      }
     }
   }
  }
 }
 