.itemP {
    // height: 40rem;
    .card {
            // width: 294px;
            height: 116px;
    
            background: #FFFFFF;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                object-fit: contain;
            }
    
        }
    }
    
    .itemP>img {
        width: 100%;
        object-fit:cover;
        height: 40rem;
  }
  
  .caption {
    // background-color: rgba(0, 0, 0, 0.4);
    // border-radius: 15px;
  }
  
  .caption h3 {
    font-size: 35px;
    color: rgb(255, 255, 255);
  }

.title{
  margin-bottom: 40px;
}
.responsiveSection{
  display: none;
}

@media(max-width: 900px){
  .title{
    font-size: 28px;
  }
}


@media(max-width: 677px) {
  .real {
    display: none;
  }
  .title{
   line-height: 33px;
  }
  .responsiveSection {
    display: block;
  }
}