.logoBlock{
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    background: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px;
    height: 100%;
}
.container{
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 32px;
    .firstBlock{
        display: flex;
        width: 100%;
        // align-items: center;
    }
    .text1{
        display: none;
    }
}

@media(max-width: 900px){
    .container{
        flex-wrap: wrap;
        text-align: center;
        .text{
            display: none;
        }
        .text1{
            display: block;
            margin-left: 10px;
            text-align: left;
            div{
                margin-bottom: 12px !important;
            }
        }
    }
    .title{
        font-size: 28px;
        line-height: 33px;
      }
}