.about {

  width: 100%;
  margin: 0 auto ;
  padding-bottom: 80px;
  
  .aboutBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    flex-direction: row-reverse;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
    
    .text{
      width: 48%;
      padding: 0 24px 0px 0px;
      .contentText{
        line-height: 25px;
        font-size: 20px;
        font-weight: 400;
        color: #18191F;
        margin-top: 8px;
      }
    }
    .image{
      width: 48%;
      // text-align: center;
      span{
        display: block !important;
      }
      img{
        object-fit: fill;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
      }
    }
  }
}


@media(max-width: 800px){
  .about{
    .title{
      text-align: center;
    }
    .aboutBlock{
      flex-direction: column;
      text-align: center;
      gap: 20px;
      .text{
        width: 100%;
      }
      .image{
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media(max-width: 900px){
  .about{
    .title{
      font-size: 24px;
      line-height: 30px;
    }
    .aboutBlock{
      .text{
       .contentText{
        font-size: 14px;
        line-height: 20px;
       }
      }
    }
    // .aboutBlock{
    //   flex-direction: column;
    //   text-align: center;
    //   gap: 20px;
    //   .text{
    //     width: 100%;
    //   }
    //   .image{
    //     width: 100%;
    //     text-align: center;
    //   }
    // }
  }
}