.title{
    margin-top: 80px;
    margin-bottom: 40px;
}
.statBlock{
    display: flex;
    gap: 24px;
    // justify-content: space-between;
    .leftBlock, .rightBlock{
        width: 48%;
    }
        .rightBlock {
            .cardSection{
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
            }
            .card {
                background: #FFFFFF;
                box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
                border-radius: 12px;
                min-width: 265px;
                gap: 16px;
                padding: 16px;
                height: 190px;
                
                    .count {
                        font-family: Inter;
                        font-size: 64px;
                        font-weight: 600;
                    }
                
                    .cardstitle {
                        font-size: 23px;
                        font-weight: 400;
                    }
                }
                }
                }



@media(max-width: 1188px){
   .statBlock{
    flex-direction: column-reverse;
    justify-content: center;
    .leftBlock, .rightBlock{
        width: 100%;
        .card{
            width: 32% !important;
        }
    }
   }
}


@media(max-width: 875px){
    .statBlock{
        .rightBlock{
            .cardSection{
                justify-content: center;
            }
        }
    }
}

@media(max-width: 578px){
    .statBlock{
        .rightBlock{
            .cardSection{
              
                .card{
                    min-width: 150px;
                    height: auto;
                    &:last-child {
                        min-width: 338px;
                    }
                    .count {
                        
                        font-size: 32px;
                        
                    }
                
                    .cardstitle {
                        font-size: 18px;
                        line-height: 18px;
                      
                    }
                }
            }
        }
    }
}