


.main_container {
  min-height: 100%;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.08);
  .header_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    .left_side{
      display: flex;
      align-items: center;
      gap: 60px;
      button{
        background: white;
        text-transform: capitalize;
        font-family: Inter;
         font-size: 15px;
         font-weight: 500;
         line-height: 22px;

      }
    }
    .logo {
      // width: 15%;
      svg{
        font-size: 35px;
      }
      .logoName{
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        line-height: 22px;
        cursor: pointer;
      }
    }
    .headerMenu_items {
      gap: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        font-family: "Roboto-Regular";
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        // color: #393737;
        cursor: pointer;
        div{
          color: #000000A3;
        }
      }
    }
    .contact_lang_btns {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 24px;
      .contact {
        color: #393737;
        font-family: "Roboto-Bold";
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        span {
          color: #cbab97;
        }
        
      }
      .langs {
        ul {
          list-style: none;
          display: flex;
          column-gap: rem(40);
          a {
            font-size: rem(16);
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }  

      .select_language {
        position: relative;
        z-index: 2;
        height: 40px;
        .language {
          border: none;
          border-radius: 8px;
          color: var(--main-color);
          font-size: 16px;
          background: #ECEEF2;
          height: 100%;
          outline: none;
          div{
            &:first-child{
              padding-right: 3px !important;
              padding-left: 6px !important;
            }
          }
          a{
            font-family: "Roboto-Regular";
           
          }
          .flags {
            width: 20px;
          }
        }
      }
    }
    .burger {
      display: none;
      // margin-left: 16px;
    }
  }
 
}

.container {
  background: #f5f7f9;

  &.news_active {
    background: none;

    .header_menu {
      .headerMenu_items {
        a {
          color: #fff;
        }
      }
      .contact_lang_btns {
        .contact {
          color: #fff;
        }
      }
    }
  }

  .header_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    width: 100%;
    .logo {
      width: 9%;
    }
    .headerMenu_items {
      flex: 1 1 25%;
      display: flex;
      justify-content: space-between;
      a {
        font-family: "Roboto-Bold";
        font-size: 16px;
        color: var(--main-color);
        cursor: pointer;
        font-weight: 400;
        line-height: 24px;
      }
    }
    .contact_lang_btns {
      display: flex;
      align-items: center;
      flex: 1 1 20%;
      justify-content: end;
      .contact {
        color: var(--main-color);
        font-family: "Montserrat-Bold";
        margin-right: 24px;
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        span {
          color: #cbab97;
        }
      }

      .select_language {
        height: 40px;
        .language {
          border: 1px solid #34393c;
          border-radius: 100px;
          color: var(--main-color);
          font-size: 16px;
          background: #f2f4f6;
          height: 100%;
          .arrowDown {
            cursor: pointer;
            width: 20px;
            font-size: 20px;
          }
          .arrowUp {
            cursor: pointer;
            width: 20px;
            font-size: 20px;
            transform: rotate(180deg);
          }
          .flags {
            width: 20px;
          }
        }
      }
    }
  }

  .burger {
    display: none;
    margin-left: 16px;
  }
}

.mobile_navbar {
  display: none;
  width: 100%;
  background: #fff;
  position: absolute;
  top: -1000%;
  left: 0;
  transition: ease-in-out 1s;
  background: white;
  z-index: 10;
  .headerMenu_mobile_items {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding: 0px 16px;
    margin-bottom: 16px;

    a {
      padding: 26px 0 14px 0;
      font-size: 16px;
      line-height: 20px;
      font-family: "Inter-medium";
      box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
      // margin: 12px 0;
    }
  }
}

.show_mobile_navbar {
  width: 100%;
  height: 100%;
  background: #fff;
  top: 80px;
  position: absolute;
  left: 0px;
  transition: ease-in-out 1s;
  background: white;
  z-index: 10;
  .headerMenu_mobile_items {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding: 0px 16px;
    margin-bottom: 16px;

    a {
      padding: 26px 0 14px 0;
      font-size: 16px;
      line-height: 20px;
      font-family: "Inter-medium";
      box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
      // margin: 12px 0;
    }
  }
}

@media(max-width : 850px){
  .main_container{
    .header_menu{
      .contact_lang_btns{
        .contact{
          display: none;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .main_container {
    .mobile_container {
      background: #fff;
      height: 64px;
      z-index: 1000;
      // position: fixed;
      box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
    }
    @media (max-width: 767px) {
      position: static;
    }
    .header_menu {
      .left_side{
        width: 60%;
      }
      .headerMenu_items {
        display: none;
      }
      .burger {
        display: flex;
      }
      .contact_lang_btns {
        .contact {
          color: var(--main-color);
        }
        .select_language{
          // display: none;
        }
      }
    }
  }
  .mobile_navbar,
  .show_mobile_navbar {
    display: flex;
  }

  .container {
    .header_menu {
      .headerMenu_items {
        display: none;
      }

      .burger {
        display: block;
      }
    }
  }
}



@media (max-width: 500px) {
  .main_container {
    .header_menu {
      
      .contact_lang_btns {
        .contact {
          display: none;
        }
        .select_language {
          .language {
            border: 1px solid #eceef2;
            border-radius: 8px;
            background: white;
            color: black;
            width: 100%;
            .arrowDown {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
}




