
.ourBenefits{
    padding: 80px 0px;
}

.title{
    font-size: 32px;
    font-family: 'Roboto-Bold';
    width: 89%;
    margin: 30px auto 40px;
}

.benefits{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // justify-content: center;
    margin-bottom: 50px;
    margin-top: 40px;
    gap: 10px;
    .benefitCard{
        background: #32618E0F;
        max-width: 400px;
        padding: 24px;
        border-radius: 12px;
        color: #18191F;
        height: 100%;
        .number{
            background-color: #32618E;
            border-radius: 50%;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 18px;
            font-weight: 800;
            margin-bottom: 24px;
        }
        .cardHeader{
            
            margin-bottom: 10px;
            gap: 5px;
          
            .cardTitle{
                // text-transform: uppercase;
                font-family: 'Roboto-Bold';
                font-size: 24px;
                line-height: 24px;
                margin-bottom: 12px;
                
            }
        }
        .text{
            
font-size: 16px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0px;


        }
    }
}


@media(max-width: 1080px){
    .title{
        text-align: center;
    }
}


@media(max-width: 900px){
    .benefits{
        .benefitCard{
            .cardHeader{
                .cardTitle{
                    font-size: 20px;
                }
            }
            .text{
                line-height: 20px;
            }
        }
    }
}